<h3>Edit this post!</h3>

<!-- 2 things in the 'edit' page (from partial) = (1) form to submit the changes to the post; and (2) code to show an error if it was done wrong. -->

<%= render "form_get" %>