<h3>Karen, you know you want to make a new post!</h3>

<!-- 2 things in the 'new' page (from partial) = (1) form to submit the new post; and (2) code to show an error if it was done wrong. -->

<%= render "form_get" %>
